.signupCard{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.page{
	margin-top: 10vh;
	width: 100%;
	display: flex;
	align-self: center;
	justify-content: center;
}


.text{
	margin: 00px auto 0 0;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	text-align: center;
	color: #817F7F;
}

.blueText{
	font-weight: 700;
	color: #2974F1;
	cursor: pointer;
}