#offCard {
	box-shadow: none;
}

#proCard {
	display: flex;
}

.summary {
	width: 46vw;
	min-width: 300px;

}

.cartContainer {
	display: flex;
	/* flex-wrap: wrap; */
}

.blue {
	position: absolute;
	height: 60px;
	width: 100%;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	background-color: #2974f1;
	display: flex;
	align-items: center;
	color: #fff;
	font-weight: 600;
}

.blue span {
	margin-left: 20px;
}

.rightHeading {
	font-size: 16px;
	font-weight: 400;
}

.rightHeading span {
	margin-left: 10px;
	font-weight: 600;
}

.price {
	font-size: 20px;
	font-weight: 600;
	color: #333;
	display: flex;
	flex-direction: column;
	justify-content: right;
	align-items: flex-end;
}

.price span {
	margin-left: 10px;

	color: #333;
	font-size: 14px;
}

.bottom {
	height: 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.strike {
	text-decoration: line-through;
	color: #333;
	font-weight: 400;
	margin: 0 10px;
}

.discount {
	color: #00ba88;
	font-weight: 400;
	font-size: 14px;
	margin: 0 5px;
}

.photo {
	width: 80px;
	height: 80px;
	margin: 0 20px;
	border-radius: 6px;
}

.test {
	padding: 10px 0;
	display: flex;
	height: 100px;
	border-bottom: 1px solid #c4c4c4;
	width: 100%;
	position: relative;
	align-items: center;
}

.allitems {
	margin-top: 60px;
	width: 100%;
	/* display: flex;
	flex-direction: column; */
}

.orderDet {
	margin: 70px 0 0 0;
}

.blue {
	position: absolute;
	height: 60px;
	width: 100%;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	background-color: #2974f1;
	display: flex;
	align-items: center;
	color: #fff;
	font-weight: 600;
}

.blue span {
	margin-left: 20px;
}

.priceOrder {
	padding: 10px 0;
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	font-weight: 400;
	/* border-bottom: 1px solid #c4c4c4; */
	width: 100%;
}

.priceOrder span {
	margin: 0 20px;
}

.priceDetails {
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	position: fixed;
	right: 5vw;
}

.tophead {
	position: absolute;
	height: 60px;
	width: 100%;
	display: flex;
	align-items: center;
	font-weight: 600;
	border-bottom: 1px solid #c4c4c4;
}

.tophead span {
	margin-left: 20px;
}

.down {
	position: absolute;
	bottom: 0;
	border-top: 1px solid #c4c4c4;
	width: 100%;
	font-weight: 600 !important;
	height: 50px;
	display: flex;
	align-items: center;
}

.downOrder {
	padding: 0px 0;
	display: flex;
	font-size: 38px;
	font-weight: 700;
	/* border-bottom: 1px solid #c4c4c4; */
	width: 100%;
	color: #00ba88;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.downOrder svg{
	fill: #00ba88;
}

.downOrder span {
	margin: 20px;
}

.submit {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
	border: 2px solid #2974f1;
	font-weight: 500;
	font-family: inherit;
	border-radius: 10px;
	color: #fff;
	cursor: pointer;
	user-select: none;
	text-align: center;
	background-color: #2974f1;
	font-size: 13px;
	margin: 14px 0;
	padding: 10px;
}

.delete {
	position: absolute;
	right: 20px;
	color: #fc3c3c;
	font-weight: 600;
	display: flex;
	align-items: center;
	font-size: 16px;
	cursor: pointer;
}

.delete svg {
	fill: #fc3c3c;
	margin-right: 5px;
	transform: scale(0.9);
}


.price{
	position: absolute;
	right: 20px;
	color: #00ba88;
}

@media screen and (max-width: 768px) {
}

