.cardBack{
	width: 100%;
	height: 200px;
	border-radius: 8px;
	position: relative;
}

.warrantyHeading{
	position: absolute;
	top: 20px;
	right: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}


.warrantyHeadingShield{
	right: 0;
	display: flex;
	align-items: center;
	color: #fff;
	font-weight: 400;
	font-size: 14px;

}

.warrantyHeading svg{
	margin: 0 0 0 5px;
	color: #fff;
}

.warrantyText{
	color: #fff;
	font-size: 16px;
	font-weight: 700;
}

.warrantyDetails{
	position: absolute;
	bottom: 20px;
	left: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.second{
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 500;
	color: #fff;
}

.productDetails{
	font-size: 20px;
	margin:0 20px ;
	margin-top: 20px;
	letter-spacing: 0.5px;
}

.productHeading{
	font-size: 16px;
	font-weight: 600;
}

.productText{
	font-size: 13px;
	font-weight: 400;
	margin-top: 5px;
}

.bolder{
	font-weight: 500;
}

.warrantySmall{
	font-weight: 400;
	margin-top: 5px;
	color: white;
	font-size: 12px;
	display: flex;
	align-items: center;
}

.warrantySmall svg{
	color: white;
	margin-right: 2px;
}

/* #warCard{
	transform: scale(2);
} */

.expire{
	font-size: 15px;
	display: flex;
	align-items: center;
	color: #D13356;
	position: absolute;
	right: 20px;
	margin-top: 15px;
}
.expire svg{
	color: #D13356;
	margin-right: 5px;
}


.valid{
	font-size: 15px;
	display: flex;
	align-items: center;
	color: #6EC195;
	position: absolute;
	right: 20px;
	margin-top: 15px;
}
.valid svg{
	color: #6EC195;
	margin-right: 5px;
}


.warrantyContainer{
	display: flex;
	flex-wrap: wrap;
	
}

.warrantyContainer > div{
margin: 10px;
	
}

.qrcode{
	position: absolute;
	top: 20px;
	left: 20px;
	display: flex;
	align-items: center;
	justify-content: center;

	/* transform: scale(0.2); */
	/* width: 20px;
	height: 20px; */
}

.qrcode svg{
	padding: 5px;
	background-color: white;
	border-radius: 6px;
	/* width: 50px;
	height: 50px; */
}

/* .qrcode svg path{
	transform: scale(1.5);
} */