.buyContainer{
	height: 80vh;
	width: 100%;
	/* background-color: red; */
	display: flex;
	margin-top: 80px;
}

.left{
	width:48vw;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding: 0 2vw;
}

.right{
	width: 50%;
	height: 100%;
}

.photo{
	width: 36vh;
	height: 36vh;
	background-color: red;
	border-radius: 6px;
	margin-bottom: 2vh;
}

#photo{
	display: flex;
	align-items: center;
	/* justify-content: center; */
	flex-direction: column;
}

.buttons{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 50px;
}